<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.pojo.ClassInfo">
    <select id="findClassInfoByCid" parameterType="integer" resultMap="classInfoResultsMap">
        select c.*, t.*
        from class_info c,
             teach_info t,
             class_teach ct
        where c.cid = ct.class_id
          and ct.teach_id = t.tid
          and c.cid = #{cid}
    </select>
    <resultMap id="classInfoResultsMap" type="classInfo">
        <id column="cid" property="cid"/>
        <result column="cname" property="cname"/>
        <result column="sum" property="sum"/>
        <collection property="teachInfoList" ofType="teachInfo">
            <id column="tid" property="tid"/>
            <result column="tname" property="tname"/>
            <result column="age" property="age"/>
            <result column="course" property="course"/>
        </collection>
    </resultMap>
</mapper>