<?xml version="1.0" encoding="UTF-8"?>
<!-- Spring容器可以当成豌豆荚,里面装的豌豆(beans)-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 在容器中声明一个Bean id是当前bean在容器中的唯一标志 class代表Bean的类型,
    在底层中通过反射被调用 -->
    <bean id="yuanyuan" class="com.pojo.Woman">
        <!-- 将属性值根据名字匹配后,注入到对象中   -->
        <property name="name" value="媛媛"/>
        <property name="age" value="18"/>
        <property name="outlook" value="花容月貌的"/>
    </bean>
    <!--    <bean id="lulu" class="com.pojo.Man">-->
    <!--        <property name="name" value="陆陆"/>-->
    <!--        <property name="fund" value="身无分文的"/>-->
    <!--        &lt;!&ndash; 如果注入Straight Values(基本类型,String,等等),通过value注入   &ndash;&gt;-->
    <!--        &lt;!&ndash; 如果是对容器中其他的Bean做引用的话,则使用ref(reference) &ndash;&gt;-->
    <!--&lt;!&ndash;        <property name="woman" ref="yuanyuan"/>&ndash;&gt;-->
    <!--    </bean>-->
    <bean id="hao" class="com.pojo.Man">
        <property name="name" value="耗子"/>
        <property name="fund" value="靠压岁钱度日的"/>
        <property name="woman">
            <!--            Inner Bean 内部Bean 不是由IOC容器管理,没有名字-->
            <bean class="com.pojo.Woman">
                <property name="name" value="媛媛"/>
                <property name="age" value="80"/>
                <property name="outlook" value="人老珠黄的"/>
            </bean>
        </property>
    </bean>
    <bean id="fierceMan" class="com.pojo.FierceMan">
        <!--        <property name="clothes" value="背心,短裤,人字拖"/>-->
        <property name="clothes">
            <!--            数组-->
            <array>
                <value>背心</value>
                <value>短裤</value>
                <value>人字拖</value>
            </array>
            <!--            set集合-->
            <!--            <set>-->
            <!--                <value>背心</value>-->
            <!--                <value>短裤</value>-->
            <!--                <value>人字拖</value>-->
            <!--            </set>-->
        </property>
        <property name="womanList">
<!--            <list>-->
<!--                <ref bean="yuanyuan"/>-->
<!--                <bean class="com.pojo.Woman">-->
<!--                    <property name="name" value="媛媛"/>-->
<!--                    <property name="age" value="18"/>-->
<!--                    <property name="outlook" value="赵油庭的"/>-->
<!--                </bean>-->
<!--            </list>-->
            <map>
                <entry key="1" value-ref="yuanyuan"/>
                <entry key="2" value-ref="hao"/>
                <entry key="3">
                    <bean class="com.pojo.Man">
                        <property name="name" value="坤坤"/>
                        <property name="fund" value="富可敌国的"/>
                        <property name="woman" ref="yuanyuan"/>
                    </bean>
                </entry>
            </map>
        </property>
        <property name="properties">
<!--            <map>-->
<!--                <entry key="jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <entry key="jdbc.url" value="jdbc:mysql://localhost:3306"/>-->
<!--                <entry key="jdbc.username" value="root"/>-->
<!--                <entry key="jdbc.password" value="root"/>-->
<!--            </map>-->
            <props>
                <prop key="jdbc.driver">com.mysql.cj.jdbc.Driver</prop>
                <prop key="jdbc.url">jdbc:mysql://localhost:3306</prop>
            </props>
        </property>
    </bean>
</beans>