<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.pojo.Stu">
    <select id="findStudentBySid" parameterType="integer" resultMap="stuResultsMap">
        select s.*,c.balance from stu s,stu_card c where s.cardid=c.cid and s.sid = #{sid}
    </select>
    <resultMap id="stuResultsMap" type="stu">
        <id column="sid" property="sid"/>
        <result column="sname" property="sname"/>
        <result column="age" property="age"/>
        <result column="course" property="course"/>
        <association property="sc" javaType="stuCard">
            <id column="cid" property="cid"/>
            <result column="balance" property="balance"/>
        </association>
    </resultMap>
</mapper>