<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.dubbo.controller"/>
    <!--配置dubbo包扫描-->
    <dubbo:annotation package="com.dubbo.controller"/>
    <!-- 配置dubbo-->
    <!-- 项目名称,唯一-->
    <dubbo:application name="dubbo-web">
        <!-- 不同机器不需要配置-->
        <dubbo:parameter key="qos.port" value="33333"/>
    </dubbo:application>
    <!-- 配置注册中心-->
    <dubbo:registry address="zookeeper://node1:2180"/>
</beans>